{% extends "base.html" %}
{% load scribbler_tags %}

{% block title %}A Free and Open Source SMS Framework{% endblock title %}
{% block body_id %}home{% endblock body_id %}

{% block masthead %}
<div id="masthead">
    <header>

            {% scribble "rapidsms-version" %}
                    <small>Version 0.14.0</small>
            {% endscribble %}

        <img src="{{ STATIC_URL }}images/rapidsms-logo.png" alt="RapidSMS">
{% scribble "mission-statement" %}
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore.</p>
{% endscribble %}
    </header>
</div>
{% endblock masthead %}

{% block content %}

<!-- Courtesy of http://codepo8.github.io/css-fork-on-github-ribbon/ -->
<span id="fork" class="hidden-phone">
    <a href="https://github.com/RapidSMS/RapidSMS">Fork me on GitHub!</a>
</span>

{% scribble "home" %}
<p>Welcome to RapidSMS.org!</p>
{% endscribble %}

<!-- Map -->
<section id="map-block" class="hidden-phone">
    <div id="home-map" style="position: relative; height: 500px; width: 960px"></div>
</section>


<!-- FEATURE PROJECT -->
{% if feature_project %}
    <h3>Feature project</h3>
    <h4>{{ feature_project }}</h4>
    <p>{{ feature_project.description }}</p>
{% endif %}

{% endblock content %}

{% block extra-js %}
    {% include "includes/map_init.html" %}
{% endblock %}
