{% extends "base.html" %}
{% load scribbler_tags %}

{% block title %}A Free and Open Source SMS Framework{% endblock title %}
{% block body_id %}home{% endblock body_id %}

{% block masthead %}
<div id="masthead">
    <header>

            {% scribble "rapidsms-version" %}
                    <small>Version 0.14.0</small>
            {% endscribble %}

        <img src="{{ STATIC_URL }}images/rapidsms-logo.png" alt="RapidSMS">
{% scribble "mission-statement" %}
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore.</p>
{% endscribble %}
    </header>
</div>
{% endblock masthead %}

{% block content %}

<!-- Courtesy of http://codepo8.github.io/css-fork-on-github-ribbon/ -->
<span id="fork" class="hidden-phone">
    <a href="https://github.com/RapidSMS/RapidSMS">Fork me on GitHub!</a>
</span>

{% scribble "home" %}
<p>Welcome to RapidSMS.org!</p>
{% endscribble %}

<!-- Map -->
<section id="map-block" class="hidden-phone">
    <div id="home-map" style="height: 500px; width: 960px"></div>
</section>


<!-- FEATURE PROJECT -->
{% if feature_project %}
    {{ feature_project }}
{% endif %}

{% endblock content %}

{% block extra-js %}
    <script>
        // TODO: To get data from Django into the map, replace the declaration
        // below with the something like the following (assuming data from the
        // view). (Leave the require() call the same):
        var homemap_data = {{ map_data_json|safe }};
        require(['homemap_config'], function (HomeMap) {
            // Load dependencies for the map on the homepage.
            // Once homemap_data is provided, initialize the map and render it
            HomeMap.init(homemap_data).render();
        });
    </script>
{% endblock %}
