*.py[co]
*.swp
.project
.pydevproject
*~
*.db
*.orig
*.DS_Store
.coverage
.vagrant
*/settings/local.py
public/static/
public/media/
secrets.sls
apache-solr-*/
output.json
.idea
htmlcov
coverage.sh
website.json
.venv/
.env
.envrc
volumes/
dist/
build/
src/rapidsms_org.egg-info/