{% extends "base.html" %}
{% load scribbler_tags %}

{% block title %}A Free and Open Source SMS Framework{% endblock title %}
{% block body_id %}home{% endblock body_id %}

{% block masthead %}
<div id="masthead" style="background-image: url('{{ STATIC_URL }}images/home-masthead-bkg.jpg')">
    <header>

        {% scribble "rapidsms-version" %}
                    <small>Version 1.1</small>
            {% endscribble %}

        <img src="{{ STATIC_URL }}images/rapidsms-logo.png" alt="RapidSMS">
{% scribble "mission-statement" %}
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore.</p>
{% endscribble %}
    </header>
</div>
{% endblock masthead %}

{% block content %}

<!-- Courtesy of http://codepo8.github.io/css-fork-on-github-ribbon/ -->
<span id="fork" class="hidden-phone">
    <a href="https://github.com/RapidSMS/RapidSMS">Fork me on GitHub!</a>
</span>

<div class="about-rapidsms row-fluid">
{% scribble "about" %}
    <h1>ABOUT RAPIDSMS</h1>
    <p class="lead">
        RapidSMS is a toolset for rapidly building SMS (text message) services for data collection, streamlining complex workflows, and group coordination using basic mobile phones &mdash; and can present information on the internet as soon as it is received.
    </p>
{% endscribble %}
</div>

<div class="whats-next row-fluid">
{% scribble "whats-next" %}
    <div class="span6">
        <div class="tile">
            <i class="icon-user"></i>
            <h4>Are you an implementer?</h4>
            <ul>
                <li>This is one <a href="#">link</a>.</li>
                <li>This is two <a href="#">links</a>.</li>
            </ul>
        </div>
    </div>
    <div class="span6">
        <div class="tile">
            <i class="icon-user"></i>
            <h4>Are you a developer?</h4>
            <ul>
                <li>This is one <a href="#">link</a>.</li>
                <li>This is two <a href="#">links</a>.</li>
            </ul>
        </div>
    </div>
{% endscribble %}
</div>

<div class="featured-project row-fluid">
    <h2>FEATURED PROJECT</h2>
    <div class="span6">
        <!-- FEATURE PROJECT -->
        {% if feature_project %}
        <h4>{{ feature_project }}</h4>
        <p>{{ feature_project.description }}</p>
        <a class="btn btn-inverse" href="{{ feature_project.get_absolute_url }}">Visit project page</a>
        {% endif %}
    </div>
    <div class="span5">
        <!-- Map -->
        <div class="map-container">
            <div id="home-map" style="height: 100%; width: 100%;"></div>
        </div>
    </div>
</div>
{% endblock content %}

{% block js-variables %}
    {% include "includes/map_init.html" %}
{% endblock %}
