{% extends "base.html" %}

{% block title %}{{ object }}{% endblock title %}
{% block body_id %}project-detail{% endblock body_id %}

{% block content %}
{% if user.is_authenticated and user == object.creator %}
{% include "includes/delete_confirm.html" with action=object.get_delete_url %}
{% url 'project_review_request' slug=object.slug as request_review %}
{% include "includes/request_review_confirm.html" with action=request_review %}
{% endif %}

<div class="page-header">
    <h1 class="header-split">
        <span class="header-title"><i class="icon-white icon-file-text"></i> {{ object }}</span>
        {% if user.is_authenticated and user == object.creator %}
        <span class="header-buttons">
            {% if object.status = 'D' %}
            <a href="#request-review" role="button" class="btn btn-inverse" data-toggle="modal"><i class="icon-white icon-pencil"></i> Request review</a>
            {% endif %}
            <a href="{{ object.get_edit_url }}" class="btn btn-inverse"><i class="icon-white icon-pencil"></i> Edit</a>
            <a href="#delete-modal" role="button" class="btn btn-inverse" data-toggle="modal"><i class="icon-white icon-remove"></i> Delete</a>
        </span>
        {% endif %}
    </h1>
    {% if object.countries %}<div class="summary">Located in {{ object.display_countries }}</div>{% endif %}
</div>

<div class="row-fluid">
    <div id="left-panel" class="span3">
        {% if object.image %}
            <p><img src="{{ object.image.url }}"/>
        {% endif %}
        {% if object.started %}
        <p>
            <strong>Started: </strong>
            {{ object.started|date:"F Y" }}
        </p>
        {% endif %}
        {% if object.num_users %}
        <p>
            <strong>Number of Users: </strong>
            {{ object.get_num_users_display }} users
        </p>
        {% endif %}
        {% if object.repository_url %}
        <p>
            <strong>Code Repository: </strong>
            <a href="{{ object.repository_url }}">{{ object.repository_url }}</a>
        </p>
        {% endif %}
        {% if object.project_url %}
        <p>
            <strong>Project Website: </strong>
            <a href="{{ object.project_url }}">{{ object.project_url }}</a>
        </p>
        {% endif %}
        {% if object.files %}
        <p>
            <strong>Attached File: </strong>
            <a href="{{object.files.url}}"> Download File</a>
        </p>
        {% endif %}
        {% if object.collaborators.count %}
        <p>
            <strong>Collaborators</strong><br />
            {% for collaborator in object.collaborators.all %}
            <a href="{{ collaborator.get_absolute_url }}" class="label label-link"><i class="icon-user icon-white"></i> {{ collaborator }}</a><br />
            {% endfor %}
        </p>
        {% endif %}
        {% if object.packages.count %}
        <p>
            <strong>Related Packages</strong><br />
            {% for package in object.packages.all %}
            <a href="{{ package.get_absolute_url }}" class="label label-link"><i class="icon-archive icon-white"></i> {{ package }}</a><br />
            {% endfor %}
        </p>
        {% endif %}
        {% with tags=object.tags.all %}
        {% if tags %}
        <p>
            <strong>Taxonomy</strong><br />
            {% for tag in tags %}
            <span class="label {% cycle 'label-success' 'label-info' 'label-inverse'%}"><a href="{% url "project_list" %}?q=&selected_facets=taxonomy_exact:{{tag|urlencode}}">{{ tag }}</a></span>
            {% endfor %}
        </p>
        {% endif %}
        {% endwith %}

    </div>
    <div id="right-panel" class="span9">
        <div class="project-header">
           <h1>
                {{ object.name }}
                {% if user.is_authenticated and user == object.creator %}
                   <br> <small>Status: {{ object.get_status_display }}</small>
                {%endif%}
            </h1>
            <hr>
            <div class="clearfix">
                <div class="span6">
                    <div class="description">{{ object.description|linebreaks }}</div>
                </div>
                <div class="span6">
                    <section id="map-block">
                        <div id="home-map" style="position: relative; height: 200px; width: 400px"></div>
                    </section>
                </div>
            </div>
        </div>
        <ul class="unstyled">
            <li class="span3">
                <div class="">
                    <h3 class="underline">Challenge(s)</h3>
                    <p>{{ object.challenges }}</p>
                </div>
            </li>
            <li class="span3">
                <div class="">
                    <h3 class="underline">Audience</h3>
                    <p>{{ object.audience }}</p>
                </div>
            </li>
            <li class="span3">
                <div class="">
                    <h3 class="underline">Key Technologies</h3>
                    <p>{{ object.technologies }}</p>
                </div>
            </li>
            <li class="span3">
                <div class="">
                    <h3 class="underline">Metrics/ Evidence</h3>
                    <p>{{ object.metrics }}</p>
                </div>
            </li>
        </ul>
        {% if object.script %}
        <div class="javacript-blob">
            {{ object.script|safe }}
        </div>
        {% endif %}
    </div>
</div>

{% endblock content %}


{% block extra-js %}
    <script>
        // TODO: To get data from Django into the map, replace the declaration
        // below with the something like the following (assuming data from the
        // view). (Leave the require() call the same):
        var bubbles = {{ map_bubbles|safe }};
        var fills = {{ fills|safe }};
        var homemap_data = {};
        var element_id = "home-map"
        var scope = {{ scope|safe }}

        require(['homemap_config'], function (HomeMap) {
            // Load dependencies for the map on the homepage.
            // Once homemap_data is provided, initialize the map and render it
            HomeMap.init(scope, homemap_data, fills, element_id).bubbles(bubbles);
        });
    </script>
{% endblock %}