{% extends "base.html" %}

{% block title %}Projects{% endblock title %}

{% block content %}
<div class="page-header">
    {% if user.is_authenticated %}
    <h1 class="header-split">
        <span class="header-title">RapidSMS Projects</span>
        <span class="header-buttons">
            <a href="{% url "project_create" %}" class="btn btn-inverse"><i class="icon-white icon-plus"></i> Add Project</a>
        </span>
    </h1>
    {% else %}
    <h1>RapidSMS Projects</h1>
    {% endif %}
</div>

{% if object_list %}
    <ul>
        {% for object in object_list %}
        <li><a href="{{ object.get_absolute_url }}">{{ object }}</a></li>
        {% endfor %}
    </ul>
{% else %}
    <p>There are no projects to list.</p>
{% endif %}
{% endblock content %}
