{% extends "base.html" %}
{% load widget_tweaks scribbler_tags facet_tags %}

{% block title %}{{ model_type|default:"search result"|add:"s"|title }}{% endblock title %}
{% block body_id %}search{% endblock body_id %}

{% block content %}
{% load drafts %}
<div class="page-header">
    {% if user.is_authenticated and model_create %}
    <h1 class="header-split">
        <span class="header-title">RapidSMS {{ model_type|title }}s</span>
        <span class="header-buttons">
            <a href="{% url model_create %}" class="btn btn-inverse"><i class="icon-white icon-plus"></i> Add {{ model_type|title }}</a>
        </span>
    </h1>
    {% elif model_type %}
    <h1>RapidSMS {{ model_type|title }}s</h1>
    {% else %}
    <h1>Search Results</h1>
    {% endif %}
</div>

{% if model_type = "project" %}
{% show_drafts request %}
{% endif %}

{% if model_type %}
    {% with model_type|add:"-list" as name %}
{% scribble name %}
<p class="lead">Some lead text explaining this thing.</p>
{% endscribble %}
    {% endwith %}
{% endif %}


<div class="row-fluid">
    <div class="well span3" id="refine-results">
        <h3>Refine Results</h3>
        <div id="reset-filters">
            <br>
            {% if filters %}
            <strong>Active Filters: </strong><br>
            {% for facet, value in filters %}
                {{ facet }}: {{ value }} <a href="{% remove_facet request value %}"><i class="icon-remove-sign"></i></a><br />
            {% endfor %}
            <br>
            <a href="{{ request.path }}{% if query %}?q={{ query }}{% endif %}">Reset Filters</a>
            {% endif %}
        </div>
        <ul class="nav nav-list">
        {% for field, facets in facets.fields.items %}
            {% if facets %}
                {% if field == 'creator' %}
                <li class="nav-header">By Author</li>
                {% elif field == 'pkg_type' %}
                <li class="nav-header">By Package Type</li>
                {% elif field == 'user_type' %}
                <li class="nav-header">By Account Type</li>
                {% elif field == 'for_hire' %}
                <li class="nav-header">By Available for hire</li>
                {% elif field == 'num_users' %}
                <li class="nav-header">By Number of Users</li>
                {% else %}
                <li class="nav-header">By {{ field }}</li>
                {% endif %}
                {% for facet in facets %}
                    {% if facet.1 %}
                        {% with path=request.get_full_path %}
                            <li class="nav-item"><a href="{{ request.get_full_path }}{% if '?q=' not in path %}?q={% endif %}&amp;selected_facets={{ field }}_exact:{{ facet.0|urlencode }}">{{ facet.0|title }} ({{ facet.1 }})</a></li>
                        {% endwith %}
                    {% endif %}
                {% endfor %}
            {% endif %}
        {% endfor %}
        </ul>
    </div>

    <div class="span9 search-results">

        <div id="search-box">
            <form class="form-search" method="get" action=".">
                <div class="control-group">
                    {% if model_type %}
                        {% with "placeholder:Search "|add:model_type|add:"s"|title as placeholder%}
                            {{ form.q|attr:placeholder }}
                        {% endwith %}
                    {% else %}
                        {{ form.q|attr:"placeholder:Search All of RapidSMS.org" }}
                    {% endif %}
                    {% for facet in form.selected_facets %}
                        <input type="hidden" name="selected_facets" value="{{ facet }}" />
                    {% endfor %}
                    <i class="input-icon fui-search"></i>
                </div>
            </form>
        </div>

        <div class="results-found">
            <p class="muted">{{ page.paginator.count }} Result{{ page.paginator.count|pluralize:"s" }} found</p>
        </div>
        {% for result in page.object_list %}
        <div class="result">
            {% with "search/results/"|add:result.object.get_model_name|add:".html" as template %}
                {% include template %}
            {% endwith %}
        </div>
        {% if not forloop.last %}<hr />{% endif %}
        {% empty %}
        <p>No results found.</p>
        {% endfor %}

        {% if page.has_previous or page.has_next %}
        <br>
        <div>
            {% if page.has_previous %}<a href="{% faceted_next_prev_querystring request page.previous_page_number %}">{% endif %}&laquo; Previous{% if page.has_previous %}</a>{% endif %}
            |
            {% if page.has_next %}<a href="{% faceted_next_prev_querystring request page.next_page_number %}">{% endif %}Next &raquo;{% if page.has_next %}</a>{% endif %}
        </div>
        {% endif %}
    </div>
</div>
{% endblock %}
