{% extends "base.html" %}

{% block title %}Search{% endblock title %}

{% block content %}
<div class="page-header">
    <h1>Search</h1>
</div>

<form method="get" action=".">
    {{ form.as_p }}
    <input type="submit" value="Search">
</form>
{% if query %}
    <!-- Begin faceting. -->
    <h2>By Author</h2>

    <div>
        <dl>
            {% if facets.fields.author %}
                <dt>Author</dt>
                {# Provide only the top 5 authors #}
                {% for author in facets.fields.creator|slice:":5" %}
                    <dd><a href="{{ request.get_full_path }}&amp;selected_facets=creator_exact:{{ author.0|urlencode }}">{{ author.0 }}</a> ({{ author.1 }})</dd>
                {% endfor %}
            {% else %}
                <p>No author facets.</p>
            {% endif %}
        </dl>
    </div>
    <!-- End faceting -->

    <!-- Display results... -->
    {% for result in results %}
        <div class="search_result">
            <h4><a href="{{ result.object.get_absolute_url }}">{{ result.object.name }}</a></h4>
        </div>
    {% empty %}
        <p>Sorry, no results found.</p>
    {% endfor %}
{% endif %}
{% endblock %}
