{% extends "base.html" %}
{% load widget_tweaks %}

{% block title %}Log In{% endblock title %}
{% block body_id %}login{% endblock body_id %}

{% block messages %}
    {{ block.super }}
    {% if form.errors %}
        {% include "website/includes/message.html" with msg="Your username and password didn't match our records. Please try again." alert_type="error" %}
    {% endif %}
{% endblock messages %}

{% block content %}
<div id="github">
    <a href="{% url "github_login" %}" class="btn btn-large btn-inverse">
        <i class="icon-white icon-github"></i> Log In with GitHub
    </a>
</div>

<div>-or-</div>

<div id="login">
    <form method="post" action="{% url "login" %}">
        {% csrf_token %}
        <input type="hidden" name="next" value="{{ next }}" />
        <div class="control-group">
            <div class="controls">
                {{ form.username|attr:"placeholder:Email Address" }}
            </div>
        </div>
        <div class="control-group">
            <div class="controls">
                {{ form.password|attr:"placeholder:Password" }}
            </div>
        </div>
        <div class="control-group">
            <div class="controls">
                <input class="btn btn-inverse" type="submit" value="Log In" />
            </div>
        </div>
    </form>
</div>

<div id="links">
    <p><a href="{% url "register" %}">Register for Account</a></p>
    <p><a href="{% url "reset_password" %}">Forgot password?</a></p>
</div>
{% endblock content %}
