{% extends "base.html" %}
{% load widget_tweaks %}

{% block title %}Register for an Account{% endblock title %}
{% block body_id %}register{% endblock body_id %}

{% block messages %}
    {{ block.super }}
    {% if form.non_field_errors %}
        {% include "includes/message.html" with msg=form.non_field_errors alert_type="error" %}
    {% endif %}
{% endblock messages %}

{% block extra-css %}
    <link rel="stylesheet" type="text/css"
            href="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.0/themes/base/jquery-ui.css">
    <link type="text/css" media="all" rel="stylesheet"
            href="{{ STATIC_URL }}selectable/css/dj.selectable.css">
{% endblock extra-css %}

{% block extra-js %}
    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.0/jquery-ui.js"></script>
    <script src="{{ STATIC_URL }}selectable/js/jquery.dj.selectable.js"></script>
{% endblock extra-js %}

{% block content %}
<div class="page-header">
    <h1>Register for an Account</h1>
</div>

<div id="register">
    <form class="form-horizontal" method="post" action="{% url "register" %}">
        {% csrf_token %}
        {% for field in form %}
        <div class="control-group{% if field.errors %} error{% endif %}">
            <label class="control-label" for="{{ field.id_for_label }}">
                {{ field.label }}
            </label>
            <div class="controls" id="controls_{{ field.html_name }}">
                {% if field.name == 'for_hire' %}
                <div class="switch" data-on-label="Yes" data-off-label="No">
                    {{ field|add_class:"span6" }}
                </div>
                {% elif field.name == 'user_type' %}
                {% for value, label in field.field.choices %}
                <label class="radio{% if field.value == value %} checked{% endif %}">
                    <input type="radio" data-toggle="radio"
                            name="{{ field.html_name }}" value="{{ value }}"
                            {% if field.value == value %} checked{% endif%} />
                    {{ label }}
                </label>
                {% endfor %}
                {% else %}
                {{ field|add_class:"span6" }}
                {% endif %}
                {% if field.errors %}
                <span class="help-block">{{ field.errors.as_text|safe }}</span>
                {% endif %}
                {% if field.help_text %}
                <span class="help-block">{{ field.help_text|safe }}</span>
                {% endif %}
            </div>
        </div>
        {% endfor %}
        <div class="control-group">
            <div class="controls">
                <input class="btn btn-inverse" type="submit" value="Register" />

                <div id="links">
                    <p>
                        Have an existing account?
                        <a href="{% url "login" %}">Log In!</a>
                    </p>
                </div>
            </div>
        </div>
    </form>
</div>

<div id="links">
</div>
{% endblock content %}
