{% extends "base.html" %}

{% block title %}Profile for {{ object.name }}{% endblock title %}
{% block body_id %}user-detail{% endblock body_id %}

{% block content %}
{% load related_projects %}

<div class="detail row-fluid">
    <div class="info span3">
        {% include "includes/avatar.html" with user=object size="140" %}
        <h1>{{ object }}</h1>
        {% if object.for_hire %}
        <label class="label for-hire">Available for hire!</label>
        {% endif %}
    </div>
    <div class="span9">
        <h3>User details</h3>
        <table class="table">
            <tbody>
            {% if object.location %}
            <tr>
                <th>Location</th>
                <td>{{ object.location }}{% if object.country %}, {{ object.country }}{% endif %}</td>
            </tr>
            {% endif %}
            {% if object.email and object.display_email%}
            <tr>
                <th>Email</th>
                <td>{{ object.email }}</td>
            </tr>
            {% endif %}
            {% if object.biography%}
            <tr>
                <th>Biography</th>
                <td>{{ object.biography }}</td>
            </tr>
            {% endif %}
            {% if object.website_url %}
            <tr>
                <th>Website</th>
                <td><a href="{{ object.website_url }}">{{ object.website_url }}</a></td>
            </tr>
            {% endif %}
            {% if object.github_url %}
            <tr>
                <th>GitHub</th>
                <td><a href="{{ object.github_url }}">{{ object.github_url }}</a></td>
            </tr>
            {% endif %}
            </tbody>
        </table>
    </div>
</div>

{% show_related_projects object as related_projects %}

{% if related_projects %}
<div class="related-projects">
    <h3>User project(s)</h3>
    <div class="row-fluid">
        {% for related_project in related_projects %}
            <a class="span3 btn project" href="{{ related_project.get_absolute_url }}">
                <i class="icon icon-file-text"></i>
                <h4>{{ related_project.name }}</h4>
                <p>{{ related_project.description|truncatewords:"40" }}</p>
          </a>
        {% endfor %}
    </div>
</div>
{% endif %}

{% endblock content %}
