{% extends "base.html" %}
{% load scribbler_tags %}

{% block title %}Users{% endblock title %}

{% block content %}
<div class="page-header">
    <h1>RapidSMS Users</h1>
</div>

{% scribble "about-users" %}
<p class="lead">This is some lead text explaining the RapidSMS user community.</p>
{% endscribble %}

{% if object_list %}
<ul>
    {% for object in object_list %}
    <li><a href="{{ obj.get_absolute_url }}">{{ object }}</a></li>
    {% endfor %}
</ul>
{% else %}
<p>There are no users to list.</p>
{% endif %}

{% endblock content %}
