{% extends "base.html" %}
{% load widget_tweaks user_tags thumbnail%}

{% block title %}Edit Profile{% endblock title %}
{% block body_id %}user-form{% endblock body_id %}

{% block extra-css %}
    <link rel="stylesheet" type="text/css"
            href="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.0/themes/base/jquery-ui.css">
    <link type="text/css" media="all" rel="stylesheet"
            href="{{ STATIC_URL }}selectable/css/dj.selectable.css">
{% endblock extra-css %}

{% block extra-js %}
    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.0/jquery-ui.js"></script>
    <script src="{{ STATIC_URL }}selectable/js/jquery.dj.selectable.js"></script>
{% endblock extra-js %}

{% block content %}
<div class="page-header">
    <h1><span class="header-title">Edit Profile</span></h1>
</div>

<form class="form-horizontal" method="post" action=".">
    {% csrf_token %}
    {% for field in form %}
    <div class="control-group{% if field.errors %} error{% endif %}">
        <label class="control-label" for="{{ field.id_for_label }}">
            {{ field.label }}
        </label>
        <div class="controls" id="controls_{{ field.name }}">
            {% if field.name == 'for_hire' %}
            <div class="switch" data-on-label="Yes" data-off-label="No">
                {{ field|add_class:"span6" }}
            </div>
            {% elif field.name == "user_type" %}
            {% for value, label in field.field.choices %}
            <label class="radio{% if field.value == value %} checked{% endif %}">
                 <input type="radio" data-toggle="radio"
                        name="{{ field.html_name }}" value="{{ value }}"
                        {% if field.value == value %} checked="checked"{% endif %} />
                 {{ label }}
            </label>
            {% endfor %}
            {% elif field.name == "avatar" %}
                {# custom Avatar render with image preview #}
                {% if user.avatar %}
                {% thumbnail user.avatar "140x140" crop="center" as im %}
                    <img class="profile"  src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" alt="{{ user.get_full_name }}" />
                {% endthumbnail %}
                <br />
                <input id="avatar-clear_id" type="checkbox" name="avatar-clear">
                <label id="avatar-label" for="avatar-clear_id">Clear</label>
                {% endif %}
                <br />
                <input id="id_avatar" class="span6" type="file" value="{{ user.avatar }}" name="avatar">
            {% else %}
                {{ field|add_class:"span6" }}
                {% if field.name == "gravatar_email" %}
                    <div class="gravatar-photo">
                        {% if user.gravatar_email %}
                            <img class="profile" src="{% gravatar_url user.gravatar_email %}" alt="{{ user.get_full_name }}" />
                        {% endif %}
                        <p><strong><a href="https://gravatar.com">Change your avatar at Gravatar.com</a></strong>.</p>
                    </div>
                {% endif %}
            {% endif %}
            {% if field.errors %}
            <span class="help-block">{{ field.errors.as_text|safe }}</span>
            {% endif %}
            {% if field.help_text %}
            <span class="help-block">{{ field.help_text|safe }}</span>
            {% endif %}
        </div>
    </div>
    {% endfor %}
    <div class="control-group">
        <div class="controls">
            <input class="btn btn-inverse" type="submit" value="Submit" />
            <a href="{{ object.get_absolute_url }}" class="btn">Cancel</a>
        </div>
    </div>
{% endblock content %}
