{% load user_tags thumbnail %}
<div class="avatar">
{% if user.avatar %}

    {% if user.user_type == 'I' %}
    {% with size|add:'x'|add:size as thumbnail_size %}
    {% thumbnail user.avatar thumbnail_size crop="center" as im %}
        <img class="img-circle" src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" alt="{{ user.get_full_name}}"/>
    {% endthumbnail %}
    {% endwith %}
    {% else %}
        <img class="organization" src="{{ user.avatar.url }}" alt="{{ user.get_full_name}}"/>
    {% endif %}

{% elif user.gravatar_email %}
    {% if user.user_type == 'I' %}
    <img class="img-circle" src="{% gravatar_url user.gravatar_email size %}" alt="{{ user.get_full_name }}" />
    {% else %}
    <img class="" src="{% gravatar_url user.gravatar_email size %}" alt="{{ user.get_full_name }}" />
    {% endif %}
{% else %}
    {% if user.user_type == 'I' %}
    <img class="img-circle" src="{% gravatar_url '' size %}" alt="{{ user.get_full_name }}" />
    {% else %}
    <img class="" src="{% gravatar_url '' size %}" alt="{{ user.get_full_name }}" />
    {% endif %}
{% endif %}
</div>
