<footer class="footer">
    <div class="container-fluid">
        <div class="row-fluid text-center">
            <p><img src="{{ STATIC_URL }}images/rapidsms-logo-footer.png" alt="Rapid SMS"></p>
            <ul class="inline">
                <li><a href="{% url "about" %}">About</a></li>
                <li><a href="{% url "community" %}">Help</a></li>
                <li><a target="_blank" href="https://pypi.python.org/pypi/RapidSMS/">Download</a></li>
                <li><a target="_blank" href="http://rapidsms.readthedocs.org/en/develop/">Documentation</a></li>
            </ul>
            <p>&copy; Copyright 2020 - Site created by Caktus Group and UNICEF</p>
        </div>
    </div>
</footer>
