/* Table of Contents
 * -- Includes
 * -- Variables
 * -- Sitewide
 * -- Individual pages
 */


/* Includes
==================== */
@import "../flat-ui/less/config.less";
@import "../flat-ui/less/mixins.less";


/* Variables
==================== */

@navbarCollapseWidth: 1125px;
@white: #FFFFFF;
@inputWidth: 50%;


/* Sitewide
==================== */

.row-fluid {
    textarea, input[type="text"], input[type="password"],
    input[type="datetime"], input[type="datetime-local"],
    input[type="date"], input[type="month"], input[type="time"],
    input[type="week"], input[type="number"], input[type="email"],
    input[type="url"], input[type="search"], input[type="tel"],
    input[type="color"], .uneditable-input, select {
        width: @inputWidth !important;
        @media(max-width: 767px) {
            width: 100% !important;
        }
    }

    input[type="text"], input[type="password"],
    input[type="datetime"], input[type="datetime-local"],
    input[type="date"], input[type="month"], input[type="time"],
    input[type="week"], input[type="number"], input[type="email"],
    input[type="url"], input[type="search"], input[type="tel"],
    input[type="color"], .uneditable-input {
        height: 21px;
    }

    .radio {
        margin-bottom: 0px;
        margin-top: 5px;
        &:first-child {
            padding-top: 0px !important;
        }
    }

    textarea {
        height: 96px; // 4x line height
    }
}

.page-header {
    margin-top: 0px;
    padding-bottom: 0px;

    .header-split {
        margin-bottom: 0;
        span {
            display: inline-block;
        }
        .header-title {
            margin-right: 20px;
        }
        .header-buttons .btn {
            margin-bottom: 9px;
        }
    }
}

#messages {
	text-align: center;
    min-height: 1px;
}

footer {
    margin-top: 20px;
    padding: 22px 0;
    ul {
        list-style: none;
        margin-bottom: 0;
    }
    @media(max-width: 767px) {
        #footer-left {
            padding-left: 25px;
        }
        #footer-right {
            padding-top: 25px;
        }
    }
}

.navbar {
	.nav {
		> li > a {
			border: none;
			padding: 18px 15px 15px;
			&:hover, &:focus {
				color: @peter-river;
				border: none;
			}
			@media (max-width: 979px) {
				color: @white !important;
				&:hover, &:focus {
					background-color: @peter-river !important;
				}
			}
		}
		ul {
			a {
				&:hover {
					background-color: @peter-river;
				}
			}
		}
	}
	.navbar-inner {
		.border-radius(0);
	}
	.brand {
		border: none;
		padding: 14px 15px 11px 0;
		@media (max-width: 767px) {
			padding-left: 15px;
		}
	}
	form {
		margin: 0;
		position: relative;
		input {
			margin: 10px 0 10px 15px;
			background-color: lighten(#2c3e50, 20%);
			border: none;
			padding-left: 25px;
			&:focus {
				background-color: @white;
			}
		}
		i {
			position: absolute;
			top: 18px;
			left: 25px;
		}
	}
	@media (max-width: 767px) {
		margin-left: -20px;
		margin-right: -20px;
	}
	.btn-navbar {
		&:hover, &:focus {
			color: @peter-river;
		}
	}
    #search-form {
        i {
            padding-top: 2px;
        }
        input {
            padding-left: 30px;
        }
    }
}


/* Individual pages
==================== */

body#home {
	#masthead {
		text-align: center;
		color: @white;
		background: url('../images/home-masthead-bkg.jpg') top center no-repeat;
		background-size: cover;
		// width: 100%;
		padding-top: 50px;
		padding-bottom: 50px;
		@media (max-width: 767px) {
			margin-left: -20px;
			margin-right: -20px;
		}
		header {
			.clearfix;
			padding-left: 20px;
    		padding-right: 20px;
			small {
				display: block;
				font-size: 18px;
				padding: 10px 0;
			}
			p {
				font-size: 22px;
				margin: 0;
				@media (max-width: 767px) {
					font-size: 18px;
				}
			}
		}
	}
}

body#login #content {
    text-align: center;
    .icon-github {
        padding-right: 3px;
    }
    div#github {
        padding: 30px 0;
    }
    div#login {
        padding: 30px 0;
    }
}

body#register #content {
    #links {
        margin-top: 20px;
    }
}
