<footer class="footer">
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span3" id="footer-left">
                <p>RapidSMS</p>
                <p>&copy; Copyright 2013</p>
            </div>
            <div class="span3 offset6" id="footer-right">
                <ul>
                    <li><a href="{% url "about" %}">About</a></li>
                    <li><a href="{% url "help" %}">Help</a></li>
                    <li><a href="https://pypi.python.org/pypi/RapidSMS/">Download</a></li>
                    <li><a href="http://rapidsms.readthedocs.org/en/develop/">Documentation</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>
