<footer class="footer">
    <div class="container-fluid">
        <div class="span3">
            <p>RapidSMS</p>
            <p>&copy; Copyright 2013</p>
        </div>
        <div class="span9">
            <ul class="pull-right">
                <li><a href="{% url "about" %}">About</a></li>
                <li><a href="{% url "help" %}">Help</a></li>
                <li><a href="https://pypi.python.org/pypi/RapidSMS/">Download</a></li>
                <li><a href="http://rapidsms.readthedocs.org/en/develop/">Documentation</a></li>
            </ul>
        </div>
    </div>
</footer>
