{% load drafts %}
<div class="navbar navbar-inverse">
    <div class="navbar-inner">
        <div class="container-fluid">

            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                 <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>

            <a href="{% url "home" %}" class="brand">
                <img src="{{ STATIC_URL }}images/rapidsms-logo-sm.png" alt="RapidSMS">
            </a>

            {% count_drafts request as pending_drafts %}
            <div class="nav-collapse collapse">

                <ul class="nav">

                    <li><a href="{% url "about" %}">About</a></li>
                    <li><a href="https://pypi.python.org/pypi/RapidSMS/"><i class="icon-external-link"></i> Download</a></li>
                    <li><a href="http://rapidsms.readthedocs.org/en/latest/"><i class="icon-external-link"></i> Documentation</a></li>
                    <li><a href="{% url "project_list" %}">Projects {% if pending_drafts %}<span class="badge badge-important">{{ pending_drafts }}</span>{% endif %}</a></li>
                    <li><a href="{% url "package_list" %}">Packages</a></li>
                    <li><a href="{% url "community" %}">Community</a></li>
                    {% comment %}
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown">Community</a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="{% url "community-feed-list" "rapidsms" %}">Blogs</a></li>
                            <li><a href="{% url "user_list" %}">Members</a></li>
                        </ul>
                    </li>
                    {% endcomment %}
                    {% if not user.is_authenticated %}
                        <li><a href="{% url "login" %}">Register/Log In</a></li>
                    {% else %}
                        <li class="dropdown">
                            <a class="dropdown-toggle"><i class="icon-white icon-user"></i> Account</a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="{{ user.get_absolute_url }}">View Profile</a></li>
                                <li><a href="{{ user.get_edit_url }}">Edit Profile</a></li>
                                {% if user.is_staff %}
                                    <li><a href="{% url 'admin:index' %}">Admin</a></li>
                                    <li><a href="{% url 'projects_project_reviews' %}">Review Projects</a></li>
                                {% endif %}
                                <li><a href="{% url "logout" %}">Log Out</a></li>
                            </ul>
                        </li>
                    {% endif %}
                   </ul>

                <form id="search-form" class="span2" method="get" action="{% url "haystack_search" %}">
                    <input name="q" type="text" placeholder="SEARCH" />
                    <i class="fui-search"></i>
                    <input type="submit" style="display:none" />
                </form>

            </div>

        </div>
    </div>
</div>
